@layer base {
  @variants responsive {
    .fa-grid-mobile {
      grid-template-areas:
        "Heading"
        "Description"
        "Tile1"
        "Tile2"
        "Border"
        "Subtitle"
        "Image"
        "Stats"
        "Button";
    }

    .fa-grid-tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-areas:
        "Heading Heading"
        "Description Description"
        "Tile1 Tile2"
        "Border Border"
        "Subtitle Subtitle"
        "Image Stats"
        "Button Button";
    }

    .fa-grid-web-small {
      grid-template-columns: 53.6rem 10.8rem 27.6rem 16.8rem;
      grid-template-areas:
        "Heading Heading Heading Heading"
        "Description .  Tile1 Tile2"
        "Border Border Border Border"
        "Subtitle . Image Stats"
        "Button Button Button Button";
    }

    .fa-grid-web {
      grid-template-columns: 81.2rem 15.4rem 41.4rem 26rem;
      grid-template-areas:
        "Heading Heading Heading Heading"
        "Description .  Tile1 Tile2"
        "Border Border Border Border"
        "Subtitle . Image Stats"
        "Button Button Button Button";
    }
  }
}

.area-fa-heading {
  grid-area: Heading;
}
.area-fa-description {
  grid-area: Description;
}
.area-fa-image {
  grid-area: Image;
}
.area-fa-stats {
  grid-area: Stats;
}
.area-fa-tile2 {
  grid-area: Tile2;
}
.area-fa-tile1 {
  grid-area: Tile1;
}
.area-fa-button {
  grid-area: Button;
}
.area-fa-subtitle {
  grid-area: Subtitle;
}
.area-fa-border {
  grid-area: Border;
}
