.scroll-style::-webkit-scrollbar {
  width: 14px;
}
.scroll-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(218, 213, 213, 0.993);
  background-clip: content-box;
  border: 4px solid transparent;
}
.scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}